@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}

header {
    background-image: url(imagens/imagem-header.jpg);
    background-size: cover;
    background-color: black;
    color: white;
    text-align: center;
    padding: 8vh;
}