@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(34, 23, 24);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header, main, footer {
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#cabecalho {
    height: 60vh; 
    background-image: url(imagens/imagem-header.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

#cabecalho h1 {
    color: rgb(192, 180, 180);
    text-align: center;
    font-size: 3em;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.322);
    border-radius: 7px;
}

article > p {
    background-color: white;
    color: black;
    padding: 20px 25px; 
    font-size: 1.2em; 
    line-height: 1.6em;
    text-indent: 25px;
}

.titulo-elenco > h2 {
    text-align: center;
    background-color: black;
    font-size: 1.8em;
    padding: 30px 10px;
    color: white;
}

.caixa-texto h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #ff9900;
}

.caixa-texto p {
    margin-bottom: 15px;
    font-size: 1.1em;
}

#rick, #carl, #maggie, #daryl {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 40vh; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 20px 0;
}

#rick {
    background-image: url(imagens/rick-2.jpg)
}

#carl {
    background-image: url(imagens/carl3.webp);
}

#daryl {
    background-image: url(imagens/daryl3.jpg); 
}

#maggie {
    background-image: url(imagens/maggie.jpg); 
}

.caixa-texto {
    background: rgba(0, 0, 0, 0.7); 
    padding: 25px;
    border-radius: 5px;
    max-width: 450px; 
    text-align: center;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: #111;
}

footer > p {
    color: lightgray;
}

footer > p > a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

a:hover {
    color: black;
    padding: 7px;
    border-radius: 6px;
    background-color: darkgray;
    transition: 0.3s;
}

@media (max-width: 700px) {
    #cabecalho h1 {
        font-size: 2.5em;
    }
    
    article > p {
        font-size: 1.1em;
        padding: 15px 15px;
    }
}

@media (max-width: 450px) {
    #cabecalho {
        height: 40vh;
    }
    
    #rick, #carl, #daryl, #maggie {
        height: 30vh; 
    }
    
    .caixa-texto {
        max-width: 90%; 
        padding: 15px;
    }
}